{% extends 'base.html' %}

{% load static %}



{% block content %}

<header class="masthead" style="background-image: url('//project/core/static/core/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Contactos</h1>
                    <span class="subheading">Blog de interes general</span>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block nav %}
{% include 'nav.html' %}
{% endblock  %}


{% block footer %}
{% include 'footer.html' %}
{% endblock  %}