{% extends 'base.html' %}
{% load static %}


<div class="avatar-container">
    {% if avatar_url %}
        <img src="{{ MEDIA_URL }}avatares/{{ avatar_url }}" alt="Avatar" class="avatar">
    {% endif %}
</div>

{% block content %}

        <div class="container mt-4">
            <h2>Editar Perfil</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
{% endblock %}
