{% extends 'base.html' %}
{% load static %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock  %}

{% block content %}



<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Bienvenido a P1weR Blog</h1>
                    <span class="subheading">
                        
                        <p>
                            En P1weR Blog, exploramos el fascinante mundo que nos rodea con una mirada fresca y curiosa. 
                            Desde temas de actualidad hasta historias inspiradoras, nuestro objetivo es brindarte contenido diverso y atractivo que informe, entretenga y despierte tu interés.
                            
                            Nuestro equipo de apasionados escritores y expertos aborda una amplia variedad de temas, desde ciencia y tecnología hasta cultura y estilo de vida. 
                            Nos esforzamos por ofrecerte artículos que te hagan reflexionar, descubrir algo nuevo y, sobre todo, disfrutar de la experiencia de aprendizaje.
                            
                            Explora con nosotros mientras compartimos historias intrigantes, consejos prácticos, entrevistas fascinantes y mucho más. 
                            P1weR Blog es tu destino para mantenerte informado, inspirado y conectado con el mundo que te rodea.
                            
                            ¡Gracias por unirte a nuestra comunidad! Estamos emocionados de compartir este viaje contigo.
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock  %}
