{% extends 'base.html' %}

{% block content %}
  <h2>Registro exitoso</h2>
  <!-- Bootstrap modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Registro exitoso</h4>
        </div>
        <div class="modal-body">
          ¡Tu registro ha sido exitoso!
          <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'home' %}">Inicio</a></li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

 
  <script>
    $(document).ready(function () {
      $('#myModal').modal('show');
    });
  </script>
{% endblock %}