
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.posts {
  width: 70%;
}

.post {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  transition: box-shadow 0.3s;
}

.post img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-info {
  margin-top: 10px;
}

.timestamp {
  color: #888;
}

/* Estilos de comentarios */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.comment-area {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Formulario de comentarios */
form {
  margin-top: 20px;
}

form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Barra lateral */
.sidebar {
  width: 25%;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sidebar h2 {
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #0056b3;
}
